@page "/"
@using Car_Rental.Buisness.Classes
@using Car_Rental.Common.Interfaces
@using Car_Rental.Common.Enums
@inject BookingProcessor bp

<PageTitle>Car Rental</PageTitle>

<h1>Car Rental Assignment</h1>

<div class="row">

<h6>Vehicles</h6>

    <table class="table border border-secondary table table-borderless">
        <thead>
            <tr class="flex-wrap">
                <th>RegNo</th>
                <th>Make</th>
                <th>Odometer</th>
                <th>Cost Km</th>
                <th>Vehicle Type</th>
                <th>$ Day</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input class="form-control form-control-sm" type="text" placeholder="RegNum" @bind="bp.EmptyVehicle.regNum" aria-label=".form-control-sm example"></th>
                <th><input class="form-control form-control-sm" type="text" placeholder="Make" @bind="bp.EmptyVehicle.make" aria-label=".form-control-sm example"></th>
                <th><input class="form-control form-control-sm" type="text" placeholder="0" @bind="bp.EmptyVehicle.odometer" aria-label=".form-control-sm example"></th>
                <th><input class="form-control form-control-sm" type="text" placeholder="0" @bind="bp.EmptyVehicle.costKM" aria-label=".form-control-sm example"></th>
                <th> <select class="form-select " @bind="bp.EmptyVehicle.type">
                        @foreach (var VehicleType in bp.VehicleTypeNames)
                        {
                            @VehicleType<option value="@bp.GetVehicleType(VehicleType)" >@VehicleType</option>
                        }
                </select>
                </th>
                <th></th>
                <th><button class="btn btn-outline-success btn-sm " @onclick="()=>bp.AddVehicle(bp.EmptyVehicle.make, bp.EmptyVehicle.regNum, bp.EmptyVehicle.odometer, bp.EmptyVehicle.costKM, bp.EmptyVehicle.type, bp.EmptyVehicle.status)">Add</button></th>
            </tr>
        @foreach (var Vehicles in bp.GetVehicles())
            {
            <tr class="flex-wrap">
                <th>@Vehicles.regNum</th>
                <td>@Vehicles.make</td>
                <td>@Vehicles.odometer</td>
                <td>@Vehicles.costKM</td>
                <td>@Vehicles.type</td>
                <td>@Vehicles.dailyCost</td>
                <td>
                    @if (Vehicles.status.Equals(VehicleStatuses.Available))
                    {
                        <div class="input-group-sm d-flex">
                            <select class="form-select border border-dark" @bind=bp.EmptyCustomer.Id>
                                <option value="" selected></option>
                                @foreach (var Customer in bp.GetCustomers())
                                {
                                    <option value="@Customer.Id">@Customer.FirstName @Customer.LastName @Customer.SSN</option>
                                }
                            </select>
                            <button class="btn btn-outline-info" @onclick="()=>bp.RentVehicle(Vehicles.Id, bp.EmptyCustomer.Id)">Rent</button>
                        </div>
                    }
                    else
                    {
                        <div class="input-group-sm d-flex">
                            <input @bind="bp.EmptyBooking.Distance" class="small rounded-2" placeholder="Distance" />
                            <button class="btn-sm btn btn-outline-info" @onclick="()=>bp.ReturnVehicle(Vehicles.Id, bp.EmptyBooking.Distance)">Return</button>
                        </div>
                    }
                </td>
                <td>
                    @if (@Vehicles.status.Equals(VehicleStatuses.Booked))
                        {
                            <span class="badge rounded-pill bg-danger">@Vehicles.status</span>
                        }
                        else
                        {
                            <span class="badge rounded-pill bg-dark">@Vehicles.status</span>
                        }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="row">

<h6>Bookings</h6>

    <table class="table border border-secondary table table-hover table table-borderless">
        <thead>
            <tr class="flex-wrap">
                <th>RegNo</th>
                <th>Customer</th>
                <th>Km Rented</th>
                <th>Km Returned</th>
                <th>Rented</th>
                <th>Returned</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
        </thead>
    <tbody>
        @foreach (var Booking in bp.GetBookings())
            {
                <tr>
                   <td>@Booking.Vehicle.regNum</td>
                   <td>@Booking.Customer.SSN @Booking.Customer.LastName @Booking.Customer.FirstName</td>
                   <td>@Booking.Odometer</td>
                   <td>@Booking.Distance</td>
                   <td>@Booking.RentedDate.ToString("yyyy-MM-dd")</td>
                    @if (Booking.ReturnDate < Booking.RentedDate)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@Booking.ReturnDate.ToString("yyyy-MM-dd")</td>
                    }
                   <td>@Booking.TotalCost</td>
                   <td>
                       @if (Booking.status == VehicleStatuses.Available)
                       {
                           <span class="badge bg-success">Open</span>
                       }
                       else if (Booking.status == VehicleStatuses.Booked)
                       {
                           <span class="badge bg-danger">Closed</span>
                       }
                   </td>
                </tr>
            }
    </tbody>
    </table>
</div>
<br />
<div class="row">

<h6>Customers</h6>

    <table class="table border border-secondary table table-hover table table-borderless">
        <thead>
            <tr>
                <th>SSN</th>
                <th>Last Name</th>
                <th>First Name</th>
            </tr>
        </thead>
    <tbody>
            <tr>
                <th><input class="form-control form-control-sm" type="text" placeholder="SSN" @bind="bp.EmptyCustomer.SSN" aria-label=".form-control-sm example"></th>
                <th><input class="form-control form-control-sm" type="text" placeholder="Last Name" @bind="bp.EmptyCustomer.LastName" aria-label=".form-control-sm example"></th>
                <th><input class="form-control form-control-sm" type="text" placeholder="First Name" @bind="bp.EmptyCustomer.FirstName" aria-label=".form-control-sm example"></th>
                <th><button class="btn btn-outline-success btn-sm" @onclick="()=>bp.AddCustomer(bp.EmptyCustomer.SSN, bp.EmptyCustomer.FirstName, bp.EmptyCustomer.LastName)">Add</button></th>
            </tr>
            @foreach (var Customer in bp.GetCustomers())
            {
                <tr>
                    
                    <th>@Customer.SSN</th>
                    <td>@Customer.LastName</td>
                    <td>@Customer.FirstName</td>
                </tr>
                
            }
    </tbody>
    </table>
</div>
